				<div class="col-xs-11">
				<strong>Page <%=(currentPageIndex + 1)%> / <%=pages.length%></strong>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<label class="badge bg-green">Page</label>
				<%
				for (var i=0; pages!=null && i<pages.length; i++) {
					if (i != currentPageIndex) {
				%>
					<span class="badge page" style="cursor:pointer" pageindex="<%=i%>"><%=(i+1)%></span>
				<%
					} else {
				%>
					<span class="badge page bg-yellow" style="cursor:pointer" pageindex="<%=i%>"><%=(i+1)%></span>
				<%
					} // end if
				} // end for
				%>
				
				</div>
				<div class="col-xs-1">
					<div class="btn-group pull-right padding-bottom">
                          <button type="button" class="btn btn-default action-remove-page" pageindex="<%=currentPageIndex%>"><i class="fa fa-trash-o"></i></button>
                    </div>
				</div>

