				<div class="form-group margin-right" itemsn="<%=itemsn%>">
				    <label for="question"><h4><strong>Question: </strong></h4></label>
				    <div class="btn-group pull-right padding-bottom">
                          <button type="button" class="btn btn-default uploadItemPhoto"><i class="fa fa-file-photo-o"></i></button>
                          <input type="file" class="fileItemInput hide" itemsn="<%=itemsn%>"/>
                          <button type="button" class="btn btn-default action-remove-item" itemsn="<%=itemsn%>"><i class="fa fa-trash-o"></i></button>
                        </div>
				   
				   <div class="padding" style="width: 100%; height: 100px;border:1px solid #000;overflow:auto;" contenteditable="true" id="question-input"><%=question%></div>
				   
				    <div class="form-group padding-top" itemsn="<%=itemsn%>">
				    
				    
				    <%
				    if (type == 'radio' || type == 'checkbox') {
				    %>
                      <div class="radio">
                      	<div class="col-xs-4 text-left">
                      	<h4><strong><%=(type == 'radio' || type == 'checkbox')? 'Field Layout: ':''%></strong></h4>
                      	</div>
                      	<div class="col-xs-8">
                      		<select class="form-control optionColumn">
                      			<option value="1" <%=(col==1)?'selected="selected"':''%>>One Column</option>
                      			<option value="2" <%=(col==2)?'selected="selected"':''%>>Two Column</option>
                      			<option value="3" <%=(col==3)?'selected="selected"':''%>>Three Column</option>
                      		</select>
                      	</div>
                      </div>
				   	<br/>
				   	<br/>
				   	<%
				   	} // end if
				   	%>
				    
				    <label for="question"><h4><strong><%=(type == 'radio' || type == 'checkbox')? 'Choice: ':''%></strong></h4></label>
				    <ul id="parts" class="list-unstyled connectedSortable">
					<%
					for (var i=0; parts!=null && i<parts.length; i++) {
						var partsn = parts[i].partsn;
						if (type == 'radio' || type == 'checkbox') {
					%>
					<li class="part" partsn="<%=partsn%>">
						<div class="row margin-bottom part">
					    	<div class="col-xs-1 padding-right-zero">
					    		<button type="button" class="btn btn-link movePart padding-zero"><i class="fa fa-arrows fa-lg"></i></button>
					    	</div>
					    	<div class="col-xs-9"><input type="text" class="form-control part-input" value="<%=parts[i].value%>" partsn="<%=partsn%>"/></div>
					    	<div class="col-xs-1 padding-left-zero padding-right-zero pull-center">
					    		<button type="button" class="btn btn-link padding-zero uploadPartPhoto" partsn="<%=partsn%>"><i class="fa fa-file-photo-o fa-lg"></i></button>
					    		<input type="file" class="filePartInput hide" partsn="<%=partsn%>"/>
					    	</div>
					    	<div class="col-xs-1 padding-left-zero padding-right-zero pull-center">
					    		<button type="button" class="btn btn-link removePart padding-zero" partsn="<%=partsn%>"><i class="fa fa-minus-circle fa-lg"></i></button>
					    	</div>
					    </div>
					</li>
					<%
						}// end if
					} // end for
					%>
					</ul>
					<%
					if (type == 'radio' || type == 'checkbox') {
					%>
					<div class="row margin-bottom">
				    	<div class="col-xs-12">
				    	<button type="button" id="addNewOption" class="btn btn-link" itemsn="<%=itemsn%>"><i class="fa fa-plus-circle fa-lg"></i> Add New Option</button>
				    	</div>
				    </div>
				    <%
				    }
				    %>
				 </div>
				    