				<div class="form-group" itemsn="<%=itemsn%>">
				    <label for="question">Question</label>
				    <textarea class="form-control" rows="3" id="question-input"><%=question%></textarea>
				    </div>
				    <div class="form-group" itemsn="<%=itemsn%>">
				    <label for="question"><%=(type == 'radio' || type == 'checkbox')? 'Choice':''%></label>
				    <ul id="parts" class="list-unstyled connectedSortable">
					<%
					for (var i=0; parts!=null && i<parts.length; i++) {
						var partsn = parts[i].partsn;
						if (type == 'radio' || type == 'checkbox') {
					%>
					<li class="part" partsn="<%=partsn%>">
						<div class="row margin-bottom part">
					    	<div class="col-xs-1 padding-right-zero">
					    		<button type="button" class="btn btn-link movePart padding-zero"><i class="fa fa-arrows fa-lg"></i></button>
					    	</div>
					    	<div class="col-xs-10"><input type="text" class="form-control part-input" value="<%=parts[i].value%>" partsn="<%=partsn%>"/></div>
					    	<div class="col-xs-1 padding-left-zero padding-right-zero pull-center">
					    		<button type="button" class="btn btn-link removePart padding-zero" partsn="<%=partsn%>"><i class="fa fa-minus-circle fa-lg"></i></button>
					    	</div>
					    </div>
					</li>
					<%
						}// end if
					} // end for
					%>
					</ul>
					<%
					if (type == 'radio' || type == 'checkbox') {
					%>
					<div class="row margin-bottom">
				    	<div class="col-xs-12">
				    	<button type="button" id="addNewOption" class="btn btn-link" itemsn="<%=itemsn%>"><i class="fa fa-plus-circle fa-lg"></i> Add New Option</button>
				    	</div>
				    </div>
				    <%
				    }
				    %>
				 </div>
				    
				    