					
					<li itemsn="<%=itemsn%>" class="question">
						<div class="question-box">
						<div class="form-group">
							<label for="question"><%=count%>. <%=question%></label>
							
							
							<%
							if (img != '') {
							%>
							<div class="thumbnail" style="position:relative;">
								<img src="<%=img%>" width="100%"/>
								<div class="hide" style="position:absolute;right:0; margin-top:-15px;">
									<button type="button" class="btn btn-default action-remove-item-img"><i class="fa fa-close fa-lg"></i> Remove</button>
								</div>	
							</div>
							<%
							} // end if
							%>
							
							<%
							for (var i=0; parts!=null &&  i<parts.length; i++) {
							%>
							<div class="text">
								<input type="text" class="form-control" id="<%=parts[i].partsn%>" value="" partsn="<%=parts[i].partsn%>"/> 
							</div>
							<%
							} // end for
							%>
						</div>
						</div>
						

						
					</li>