					
					<li itemsn="<%=itemsn%>" class="question">
						<div class="question-box">
						<div class="form-group">
							<label for="question"><%=question%></label>
							<%
							for (var i=0; parts!=null && i<parts.length; i++) {
							%>
							<div class="radio">
								<label> 
								<input type="radio" id="<%=parts[i].partsn%>" value="<%=parts[i].partsn%>" partsn="<%=parts[i].partsn%>"/> 
								<%=parts[i].value%>
								</label>
							</div>
							<%
							} // end for
							%>
						</div>
						</div>
						

						
					</li>